@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
}

/* Header */
header {
  border-bottom: 1px solid #f0f0f0;
}

header div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  margin: 20px;
}

header .logo {
  color: #5c48d3;
  font-size: 40px;
}

/* Main */
.container {
  /* background-color: aqua; */
  width: 40vw;
  margin: 30px auto;
}

.contact-form {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.contact-form span,
.contact-form input {
  margin-bottom: 10px;
  font-size: 14px;
}

h1 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}

form input,
form textarea {
  width: 100%;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 10px;
}

form input[type="submit"] {
  background-color: #574dcc;
  color: white;
  margin-top: 20px;
  padding: 10px;
  /* text-transform: uppercase; */
  font-weight: bold;
  cursor: pointer;
}

.pwd-eye {
  position: relative;
}
.icon-eye {
  position: absolute;
  top: 10px;
  right: 10px;
}
.icon-eye:hover {
  cursor: pointer;
}

.hidden {
  display: none;
}
.block {
  display: block;
}

.input-error {
  border: 1px solid red;
}

.Edit {
  background-color: #f0f0f0;
  background-color: 1px solid #f0f0f0;
  border-radius: 10px;
  padding: 20px;
}

/* Footer */
footer {
  padding: 20px;
  color: black;
}
footer p {
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}
